
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <!-----------------------------------------------------
  <title>Produits</title>
  <link rel="stylesheet" type="text/css" href="css/bootsrap.min.css"
      th:href="@{css/bootstrap.min.css}" />
  ------------------------------------------------------->
</head>
<body>

<header th:fragment="header">
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/nouveau">Ajouter un nouveau compte</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a href="#">Clients</a></li>
    </ul>
  </div>
</header>
</body>
</html>